.panda-bg-color{
    background-color: #FEEAE9;
}

.panda-bg-color-watch{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.panda-bg-color-shoe{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.panda-bg-color-bag{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.panda-bg-color-button{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}